<app-drawer [items]="menu">
  <div class="h-screen bg-gray-100">
    <app-header></app-header>
    <div class="bg-gray-100">
      <label for="my-drawer-2" class="btn btn-primary drawer-button hidden"
        >Open drawer</label
      >
      <div #maincontent class="p-1">
        <div #header class="items-center ml-5 mt-5">
          <!-- Back -->
          <div class="flex cursor-pointer" (click)="goBack()">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="keyboard_backspace"
              class="text-black text-lg font-medium mb-1 mr-3 hover:bg-white hover:rounded-full hover:pl-1"
              appearance="outline "
            ></mat-icon>
            <div class="font-medium text-lg">Back to subject detail</div>
          </div>
        </div>

        <!-- header content-->
        <div
          #headcontent
          class="mt-5 ml-5 bg-white rounded-xl h-32 border border-gray-400 flex items-center"
        >
          <img
            src="assets/images/google.png"
            class="w-fit h-3/4 object-scale-down py-auto self-center"
          />
          <div class="flex flex-col ml-5">
            <div class="text-xl font-medium font-sans">
              {{ currentSubject.name }}
            </div>
            <div class="text-xl font-normal font-sans">
              No.{{ currentSubject.id }}
            </div>
            <div class="flex">
              <div class="text-xl font-normal font-sans">Status:</div>
              <div
                class="flex items-center px-1.5 py-1"
                [ngClass]="{
                  'text-green-600 bg-emerald-50 ': currentSubject.status,
                  'text-red-600 bg-rose-50': !currentSubject.status
                }"
              >
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="fiber_manual_record"
                  class="text-black text-base ml-1.5"
                  [ngClass]="{
                    'text-green-600 ': currentSubject.status,
                    'text-red-600 ': !currentSubject.status
                  }"
                  appearance="outline "
                ></mat-icon>
                {{ currentSubject.status ? "Active" : "Deactived" }}
              </div>
            </div>
          </div>
        </div>

        <!-- data -->
        <div
          #detailcontent
          class="my-5 pb-5 ml-5 bg-white rounded-xl border border-gray-400 flex items-center"
        >
          <div role="tablist" class="tabs tabs-bordered w-full m-5">
            <input
              type="radio"
              name="my_tabs_1"
              role="tab"
              class="tab w-96"
              aria-label="Details"
              checked
            />
            <div role="tabpanel" class="tab-content p-10">
              <div class="w-full">
                <form [formGroup]="subjectFrom">
                  <table class="w-full">
                    <tr>
                      <td class="w-1/5 text-right pr-2 font-semibold py-2">
                        Subject Id:
                      </td>
                      <td>
                        <input
                          readonly
                          type="text"
                          [value]="currentSubject.id"
                          class="w-full px-2 py-1 ml-5 border-2 border-gray-200 focus:border-indigo-500 rounded-lg"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="w-1/5 text-right pr-2 font-semibold py-2">
                        Subject code:
                      </td>
                      <td>
                        <input
                          required
                          id="subjectCode"
                          formControlName="subjectCode"
                          type="text"
                          [value]="currentSubject.subjectCode"
                          class="w-full px-2 py-1 ml-5 border-2 border-gray-200 focus:border-indigo-500 rounded-lg"
                          placeholder="JPD123"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="w-1/5 text-right pr-2 font-semibold py-2">
                        Subject name:
                      </td>
                      <td>
                        <input
                          required
                          id="name"
                          formControlName="name"
                          type="text"
                          [value]="currentSubject.name"
                          class="w-full px-2 py-1 ml-5 border-2 border-gray-200 focus:border-indigo-500 rounded-lg"
                          placeholder="Nhật 1"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="w-1/5 text-right pr-2 font-semibold py-2">
                        Type:
                      </td>
                      <td>
                        <input
                          required
                          id="type"
                          formControlName="type"
                          type="text"
                          [value]="currentSubject.type"
                          class="w-full px-2 py-1 ml-5 border-2 border-gray-200 focus:border-indigo-500 rounded-lg"
                          placeholder="hello"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="w-1/5 text-right pr-2 font-semibold py-2">
                        Credits:
                      </td>
                      <td>
                        <input
                          required
                          id="credits"
                          formControlName="credits"
                          type="number"
                          [value]="currentSubject.credits"
                          class="w-full px-2 py-1 ml-5 border-2 border-gray-200 focus:border-indigo-500 rounded-lg"
                          placeholder="3"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="w-1/5 text-right pr-2 font-semibold py-2">
                        Pre-Requisite:
                      </td>
                      <td>
                        <input
                          required
                          id="prerequisite"
                          formControlName="prerequisite"
                          type="text"
                          [value]="currentSubject.prerequisite"
                          class="w-full px-2 py-1 ml-5 border-2 border-gray-200 focus:border-indigo-500 rounded-lg"
                          placeholder="JPD113"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="w-1/5 text-right pr-2 font-semibold py-2">
                        Description:
                      </td>
                      <td>
                        <textarea
                          required
                          id="description"
                          formControlName="description"
                          type="text"
                          [value]="currentSubject.description"
                          class="h-24 w-full px-2 py-1 ml-5 border-2 border-gray-200 focus:border-indigo-500 rounded-lg text-start"
                          placeholder="hello"
                        ></textarea>
                      </td>
                    </tr>
                    <tr>
                      <td class="w-1/5 text-right pr-2 font-semibold py-2">
                        Status:
                      </td>
                      <td>
                        <input
                          id="status"
                          formControlName="status"
                          type="checkbox"
                          [value]="currentSubject.status"
                          class="checkbox checkbox-primary ml-5"
                        />
                      </td>
                    </tr>
                  </table>
                  <div class="mt-5 flex justify-center w-full">
                    <button
                        (click)="updateDetailSubject()"
                      class="shadow ml-5 btn bg-indigo-500 text-white font-sans font-medium"
                    >
                      <mat-icon
                        aria-hidden="false"
                        aria-label="Example home icon"
                        fontIcon="edit"
                        class="text-white text-lg"
                        appearance="outline "
                      ></mat-icon>
                      Update subject
                    </button>
                  </div>
                </form>

                <app-loadingmodal *ngIf="loading">
                </app-loadingmodal>

                <app-messagebox
                    (closeModal)="close()"
                    [open]="openMessage"
                    [title]="messageTitle"
                    [description]="messageDescription"
                    [type]="fail"
                ></app-messagebox>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-drawer>
