<app-drawer [items]="menu">
  <div class="h-screen bg-gray-100">
    <app-header></app-header>
    <div class="bg-gray-100">
      <label for="my-drawer-2" class="btn btn-primary drawer-button hidden"
        >Open drawer</label
      >
      <div #maincontent class="p-1">
        <div #header class="items-center ml-5 mt-5">
          <!-- Back -->
          <div class="flex cursor-pointer" (click)="goBack()">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="keyboard_backspace"
              class="text-black text-lg font-medium mb-1 mr-3 hover:bg-white hover:rounded-full hover:pl-1"
              appearance="outline "
            ></mat-icon>
            <div class="font-medium text-lg">Back to syllabus management</div>
          </div>
        </div>

        <!-- data -->
        <div
          #detailcontent
          class="my-5 pb-5 ml-5 bg-white rounded-xl border border-gray-400 flex items-center"
        >
          <div role="tablist" class="tabs tabs-bordered w-full m-5">
            <input
              type="radio"
              name="my_tabs_1"
              role="tab"
              class="tab w-96"
              aria-label="Details"
              checked
            />
            <div role="tabpanel" class="tab-content p-10">
              <div class="w-full">
                <form [formGroup]="syllabusForm">
                  <table class="w-full">
                    <tr>
                      <td class="w-1/5 text-right pr-2 font-semibold py-2">
                        Syllabus Id:
                      </td>
                      <td>
                        <input
                          readonly
                          type="text"
                          [value]="currentSyllabus.id"
                          class="w-full px-2 py-1 ml-5 border-2 border-gray-200 focus:border-indigo-500 rounded-lg"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="w-1/5 text-right pr-2 font-semibold py-2">
                        Student task:
                      </td>
                      <td>
                        <textarea
                          required
                          id="studentTasks"
                          formControlName="studentTasks"
                          type="text"
                          [value]="currentSyllabus.studentTasks"
                          class="w-full px-2 py-1 ml-5 border-2 border-gray-200 focus:border-indigo-500 rounded-lg"
                          placeholder="hello"
                        ></textarea>
                      </td>
                    </tr>
                    <tr>
                      <td class="w-1/5 text-right pr-2 font-semibold py-2">
                        Tool:
                      </td>
                      <td>
                        <textarea
                          required
                          id="tools"
                          formControlName="tools"
                          type="text"
                          [value]="currentSyllabus.tools"
                          class="w-full px-2 py-1 ml-5 border-2 border-gray-200 focus:border-indigo-500 rounded-lg"
                          placeholder="20"
                          ></textarea>
                      </td>
                    </tr>
                    <tr>
                      <td class="w-1/5 text-right pr-2 font-semibold py-2">
                        Scoring scale:
                      </td>
                      <td>
                        <input
                          required
                          id="scoringScale"
                          formControlName="scoringScale"
                          type="number"
                          [value]="currentSyllabus.scoringScale"
                          class="w-full px-2 py-1 ml-5 border-2 border-gray-200 focus:border-indigo-500 rounded-lg"
                          placeholder="20"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="w-1/5 text-right pr-2 font-semibold py-2">
                        Min mark:
                      </td>
                      <td>
                        <input
                          required
                          id="markMin"
                          formControlName="markMin"
                          type="number"
                          [value]="currentSyllabus.markMin"
                          class="w-full px-2 py-1 ml-5 border-2 border-gray-200 focus:border-indigo-500 rounded-lg"
                          placeholder="5"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="w-1/5 text-right pr-2 font-semibold py-2">
                        Total slot:
                      </td>
                      <td>
                        <input
                          required
                          id="slot"
                          formControlName="slot"
                          type="number"
                          [value]="currentSyllabus.slot"
                          class="w-full px-2 py-1 ml-5 border-2 border-gray-200 focus:border-indigo-500 rounded-lg"
                          placeholder="20"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="w-1/5 text-right pr-2 font-semibold py-2">
                        Approved date:
                      </td>
                      <td>
                        <input
                          required
                          id="approvedDate"
                          formControlName="approvedDate"
                          type="date"
                          pattern="\d{4}-\d{2}-\d{2}"
                          [value]="currentSyllabus.approvedDate"
                          class="w-full px-2 py-1 ml-5 border-2 border-gray-200 focus:border-indigo-500 rounded-lg"
                          placeholder="2000-2-1"
                        />
                      </td>
                    </tr>
                  </table>
                  <div class="mt-5 flex justify-center w-full">
                    <button
                      (click)="updateDetailSubject()"
                      class="shadow ml-5 btn bg-indigo-500 text-white font-sans font-medium"
                    >
                      <mat-icon
                        aria-hidden="false"
                        aria-label="Example home icon"
                        fontIcon="edit"
                        class="text-white text-lg"
                        appearance="outline "
                      ></mat-icon>
                      Update syllabus
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-loadingmodal *ngIf="loading"></app-loadingmodal>

  <app-messagebox
    (closeModal)="close()"
    [open]="openMessage"
    [title]="messageTitle"
    [description]="messageDescription"
    [type]="fail"
  ></app-messagebox>
</app-drawer>
