<div
  #header
  class="  box-content flex justify-between items-center w-full h-12 bg-gray-100 py-5"
>
  <div
    class="ml-5 w-fit h-full bg-white rounded flex items-center justify-center px-5 hover:cursor-default"
  >
    <div class="text-orange-500 text-xl font-medium font-sans">
      Welcome back !
    </div>
  </div>
  <div class="py-3 mr-5 pl-4 h-full flex items-center bg-white rounded">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="search"
      class="text-gray-500"
    ></mat-icon>
    <input placeholder="Search features in dashboard" type="text" class="ml-2 focus-visible:outline-none w-96" />
  </div>
  <div class="h-full flex items-center bg-white rounded px-3">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="notifications"
      class="text-black text-2xl"
    ></mat-icon>
  </div>
  <div class="h-full flex items-center bg-white rounded px-3">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="message"
      class="text-black text-2xl"
    ></mat-icon>
  </div>
  <div  #toggleButton (click)="changeState()" class=" toper relative flex h-full w-56  mr-5 items-center justify-start rounded  hover:cursor-pointer ">
    <img class="mr-4 h-full rounded" src="/assets/images/google.png" />
    <div class="mr-4 h-full ">
      <div class="w-fit h-5 text-black text-lg font-medium font-sans mb-1.5">
        {{currentUser?.FullName}}
      </div>
      <div class="w-20 h-5 text-black text-lg font-light font-sans">{{currentUser?.rolec?.name}}</div>
    </div>
    <div  *ngIf="drawer" class=" absolute left-1 top-12 mt-2.5 block bg-gray-50 w-full h-fit rounded-lg shadow-xl border">
       <div class="select-none hover:bg-blue-300 rounded-none text-left w-full p-3">User profile</div>
       <div class="select-none hover:bg-blue-300 rounded-none text-left w-full p-3">Change Password</div>
       <div class="select-none hover:bg-blue-300 rounded-none text-left w-full p-3">Help</div>
       <div (click)="logout()" class=" hover:bg-blue-300 rounded-none text-left w-full p-3">Logout</div>
    </div>
  </div>
</div>
