<app-drawer [items]="menu">
  <div class="h-screen bg-gray-100">
    <app-header></app-header>
    <div class="bg-gray-100">
      <label for="my-drawer-2" class="btn btn-primary drawer-button hidden"
        >Open drawer</label
      >
      <div #maincontent class="flex">
        <div id="item1">
          <div
            #item
            class="transform active:scale-95 transition-transform shadow rounded-md hover:cursor-pointer hover:border-orange-500 bg-white w-fit ml-5 mt-5 px-5 py-5 border border-solid border-slate-600"
          >
            <div
              #title
              class="pointer-events-auto flex justify-center items-center pb-5 border-b-2"
            >
              <div
                class="mr-5 flex justify-center items-center bg-red-100 rounded-full overflow-hidden p-1 w-fit aspect-square"
              >
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="library_books"
                  class="text-red-500 text-lg ml-1.5 mb-1"
                  appearance="outline "
                ></mat-icon>
              </div>
              <div class="text-black text-2xl font-medium font-sans">
                Semester
              </div>
              <div
                class="ml-14 flex justify-center items-center rounded-full hover:bg-gray-200"
              >
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="arrow_forward_ios"
                  class="text-black text-lg ml-1.5 mb-1"
                  appearance="outline "
                ></mat-icon>
              </div>
            </div>
            <div #desc class="mt-5">
              <div class="text-slate-600 text-base font-normal font-sans">
                Total Semester Active : 25
              </div>
            </div>
          </div>
        </div>
        <!--ITEM 2-->
        <div id="item1">
            <div
              #item
              class="transform active:scale-95 transition-transform shadow rounded-md hover:cursor-pointer hover:border-orange-500 bg-white w-fit ml-5 mt-5 px-5 py-5 border border-solid border-slate-600"
            >
              <div
                #title
                class="pointer-events-auto flex justify-center items-center pb-5 border-b-2"
              >
                <div
                  class="mr-5 flex justify-center items-center bg-red-100 rounded-full overflow-hidden p-1 w-fit aspect-square"
                >
                  <mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="library_books"
                    class="text-red-500 text-lg ml-1.5 mb-1"
                    appearance="outline "
                  ></mat-icon>
                </div>
                <div class="text-black text-2xl font-medium font-sans">
                  Courses
                </div>
                <div
                  class="ml-14 flex justify-center items-center rounded-full hover:bg-gray-200"
                >
                  <mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="arrow_forward_ios"
                    class="text-black text-lg ml-1.5 mb-1"
                    appearance="outline "
                  ></mat-icon>
                </div>
              </div>
              <div #desc class="mt-5 pb-3">
                <div class="text-slate-600 text-base font-normal font-sans">
                  Total Courses Active : 25
                </div>
              </div>
            </div>
          </div>
           <!--ITEM 2-->
        <div id="item1">
          <div
            #item
            class="transform active:scale-95 transition-transform shadow rounded-md hover:cursor-pointer hover:border-orange-500 bg-white w-fit ml-5 mt-5 px-5 py-5 border border-solid border-slate-600"
          >
            <div
              #title
              class="pointer-events-auto flex justify-center items-center pb-5 border-b-2"
            >
              <div
                class="mr-5 flex justify-center items-center bg-red-100 rounded-full overflow-hidden p-1 w-fit aspect-square"
              >
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="library_books"
                  class="text-red-500 text-lg ml-1.5 mb-1"
                  appearance="outline "
                ></mat-icon>
              </div>
              <div class="text-black text-2xl font-medium font-sans" (click)="goToSubject()">
                Subjects
              </div>
              <div
                class="ml-14 flex justify-center items-center rounded-full hover:bg-gray-200"
              >
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="arrow_forward_ios"
                  class="text-black text-lg ml-1.5 mb-1"
                  appearance="outline "
                ></mat-icon>
              </div>
            </div>
            <div #desc class="mt-5 pb-3">
              <div class="text-slate-600 text-base font-normal font-sans">
                Total Courses Active : 25
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-drawer>
