<app-drawer [items]="menu">
  <div class="h-screen bg-gray-100">
    <app-header></app-header>
    <div class="bg-gray-100">
      <label for="my-drawer-2" class="btn btn-primary drawer-button hidden"
        >Open drawer</label
      >
      <div #maincontent>
        <!-- Back -->
        <div class="flex hover:cursor-pointer" (click)="goBack()">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="keyboard_backspace"
            class="text-black text-lg font-medium mb-5 mx-5 hover:bg-white hover:rounded-full hover:pl-1"
            appearance="outline"
          ></mat-icon>
          <div class="font-medium text-lg">Back to subject management</div>
        </div>
        <!-- title -->
        <div class="ml-6 text-center">
          <p class="text-4xl font-medium">Subject Management</p>
        </div>

        <!-- data list -->
        <div>
          <table class="mt-6 mx-5 w-full">
            <tr class="text-white bg-orange-500">
              <td class="px-5 py-6"></td>
              <td class="px-5 py-6">Subject Id</td>
              <td class="px-5 py-6">Subject Code</td>
              <td class="px-5 py-6">Subject Name</td>
              <td class="px-5 py-6">Credit</td>
              <td class="px-5 py-6">Status</td>
            </tr>

            
            <tr *ngFor="let item of getAllSubject()" class="bg-white mb-5 border-b border-gray-300">
              <td class="px-5 py-6">
                <div (click)="deleteSubjectRaw(item.id)">
                  <mat-icon
                    title="Delete class"
                    aria-label="Example home icon"
                    fontIcon="delete"
                    class="text-red-700 text-lg hover:cursor-pointer ml-3"
                    akt
                    appearance="outline "
                  ></mat-icon>
                </div>
              </td>
              <td class="px-5 py-6">{{item.id}}</td>
              <td class="px-5 py-6">{{item.subjectCode}}</td>
              <td class="px-5 py-6">{{item.name}}</td>
              <td class="px-5 py-6">{{item.credits}}</td>
              <td class="px-5 py-6">
                <div
                  [ngClass]="{
                    'text-green-600': item.status,
                    'text-red-600': !item.status
                  }"
                >
                  {{item.status ? "Active" : "Deactive"}}
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <app-loadingmodal *ngIf="loading"></app-loadingmodal>
  <app-messagebox
    (closeModal)="close2()"
    [open]="openMessage2"
    [title]="messageTitle"
    [description]="messageDescription"
    [type]="fail"
  ></app-messagebox>
  <div
    id="wrong-modal"
    *ngIf="openMessage"
    tabindex="-1"
    aria-hidden="true"
    class="transform transition-transform flex bg-neutral-100/50 
    overflow-y-auto overflow-x-hidden fixed z-50 justify-center 
    items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
  >
  <div class="modal-box">
    <h3 class="font-bold text-xl text-red-500">
      Confirmation
    </h3>
    <p class="py-4">Do you want to delete</p>
    <div class="modal-action">
      <form action="dialog">
        <button class="mr-5 btn btn-success text-white" (click)="deleteSubject()">
          Yes
        </button>
        <button class="btn btn-error text-white" (click)="close()">
          No
        </button>
      </form>
    </div>
  </div>
  </div>
  
</app-drawer>
