<app-drawer [items]="menu">
  <div class="h-screen bg-gray-100">
    <app-header></app-header>
    <div class="bg-gray-100">
      <label for="my-drawer-2" class="btn btn-primary drawer-button hidden"
        >Open drawer</label
      >
      <div #maincontent class="pb-10 pl-5 mt-5">
        <!-- title -->
        <div class="ml-6 text-center">
          <p class="text-4xl font-medium">Timetable</p>
        </div>

        <!-- các nút -->
        <div #button_header_right class="flex items-center justify-start mt-5">
          <div class="ml-5 w-20 h-8">
            <select #year class="h-full rounded-lg w-full">
              <option>Year</option>
              <option>Year</option>
              <option>Year</option>
            </select>
          </div>
          <div class="ml-5 w-32 h-8">
            <select #year class="h-full rounded-lg w-full">
              <option>Week</option>
              <option>08/01 - 14/01</option>
              <option>Year</option>
            </select>
          </div>
        </div>

        <!-- data list -->
        <div class="flex justify-center">
          <table class="mt-6 mx-5 w-full border border-black text-sm">
            <tr class="text-white bg-lime-400">
              <td class="px-1 py-6 border border-black"></td>
              <td class="px-1 py-6 border border-black">
                <div>MON</div>
                <div>08/01</div>
              </td>
              <td class="px-1 py-6 border border-black">
                <div>TUE</div>
                <div>08/01</div>
              </td>
              <td class="px-1 py-6 border border-black">
                <div>WED</div>
                <div>08/01</div>
              </td>
              <td class="px-1 py-6 border border-black">
                <div>THU</div>
                <div>08/01</div>
              </td>
              <td class="px-1 py-6 border border-black">
                <div>FRI</div>
                <div>08/01</div>
              </td>
              <td class="px-1 py-6 border border-black">
                <div>SAT</div>
                <div>08/01</div>
              </td>
              <td class="px-1 py-6 border border-black">
                <div>SUN</div>
                <div>08/01</div>
              </td>
            </tr>
            <tr class="bg-white">
              <td class="px-1 py-6 border border-black">
                <div>Slot 1</div>
                <div>08/01</div>
              </td>
              <td class="px-1 py-6 border border-black">
                <div class="flex">
                  <div class="mr-2">JPD123</div>
                  <div class="px-1 bg-orange-300 text-white">View material</div>
                </div>
                <div>at BE-203</div>
                <div>attended</div>
              </td>
              <td class="px-1 py-6 border border-black">
                <div class="flex">
                  <div class="mr-2">JPD123</div>
                  <div class="px-1 bg-orange-300 text-white">View material</div>
                </div>
                <div>at BE-203</div>
                <div>attended</div>
              </td>
              <td class="px-1 py-6 border border-black">
                <div class="flex">
                  <div class="mr-2">JPD123</div>
                  <div class="px-1 bg-orange-300 text-white">View material</div>
                </div>
                <div>at BE-203</div>
                <div>attended</div>
              </td>
              <td class="px-1 py-6 border border-black">
                <div class="flex">
                  <div class="mr-2">JPD123</div>
                  <div class="px-1 bg-orange-300 text-white">View material</div>
                </div>
                <div>at BE-203</div>
                <div>attended</div>
              </td>
              <td class="px-1 py-6 border border-black">
                <div class="flex">
                  <div class="mr-2">JPD123</div>
                  <div class="px-1 bg-orange-300 text-white">View material</div>
                </div>
                <div>at BE-203</div>
                <div>attended</div>
              </td>
              <td class="px-1 py-6 border border-black">
                <div class="flex">
                  <div class="mr-2">JPD123</div>
                  <div class="px-1 bg-orange-300 text-white">View material</div>
                </div>
                <div>at BE-203</div>
                <div>attended</div>
              </td>
              <td class="px-1 py-6 border border-black">
                <div>SUN</div>
                <div>08/01</div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-drawer>
