<div
  class="bg-neutral-100 h-screen w-screen flex content-center justify-center items-center"
>
  <div class="aspect-video h-3/4 bg-white rounded-2xl shadow border flex">
    <div class="left-panel w-1/2 h-full">
      <img src="assets/images/logo.png" class="w-40 pt-3 pl-3" />
      <div
        class="main-content w-3/4 h-fit mx-auto m-auto pt-10 flex flex-col align-middle"
      >
        <h1 class="xl:mx-auto text-black text-3xl font-sans font-semibold">
          FPT academic portal
        </h1>
        <input
          required
          type="text"
          placeholder="Enter your email or username"
          class="mx-auto mt-8 input input-bordered md:w-full 2xl:w-4/5 max-w-md py-2 bg-blue-50 placeholder:text-blue-800"
        />
        <div class="mx-auto mt-6 md:w-full 2xl:w-4/5 flex flex-col">
          <input
            required
            type="text"
            placeholder="Enter your password"
            type="password"
            class="input input-bordered max-w-md py-2 bg-blue-50 placeholder:text-blue-800"
          />
          <a class="self-end ml-10 text-xs mt-2">Forgot password?</a>
        </div>
        <button
          class="mx-auto md:mt-6 2xl:mt-10 md:w-full 2xl:w-4/5 btn bg-orange-400 rounded-[9px] shadow w-4/5 text-white hover:bg-orange-300"
        >
          Login
        </button>
        <div
          class="text-zinc-400 text-base font-medium font-['Poppins'] self-center 2xl:mt-8 md:mt-2"
        >
          or continue with
        </div>
        <div
          class="mt-4 h-10 md:w-full 2xl:w-4/5 shadow border border-black border-opacity-0 justify-center items-center inline-flex self-center"
        >
          <div
            class="hover:bg-gray-50 hover:cursor-pointer w-full h-full bg-white rounded-[9px]  border-stone-500 align-center flex justify-center align-middle"
          >
            <img
              src="assets/images/google.png"
              class="w-fit h-3/4 object-scale-down py-auto self-center"
            />
            <div
              class="text-stone-500 text-[23px] font-medium font-['Poppins'] ml-2"
            >
              Fpt.edu.vn
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-panel w-1/2 h-full overflow-hidden">
      <img
        src="assets/images/login_background.jpg"
        class="w-full h-full object-cover rounded-r-2xl rounded-b-2xl"
      />
    </div>
  </div>
</div>
