<app-drawer [items]="menu">
  <div class="h-screen bg-gray-100">
    <app-header></app-header>
    <div class="bg-gray-100">
      <label for="my-drawer-2" class="btn btn-primary drawer-button hidden">
        Open drawer
      </label>
      <div #maincontent class="px-5 mt-10 pb-10">
        <!-- back -->
        <div class="flex items-center hover:cursor-pointer" (click)="goBack()">
            <mat-icon
                fontIcon="keyboard_backspace"
                class="text-lg font-medium mr-3 hover:rounded-full hover:pl-1 hover:bg-white"
            ></mat-icon>
            <div class="font-medium text-lg">Back to Course</div>
        </div>
        <!-- title -->
        <div class="text-center my-7">
          <p class="text-4xl font-medium">Register</p>
        </div>
        <!-- header -->
        <div #header>
          <div #total class="font-sans font-bold text-lg">
            Showing total
            <div class="text-red-500 inline">{{ getCountCourse() }}</div>
            Course(s)
          </div>
        </div>

        <!-- data list -->
        <div class="flex flex-row flex-wrap mt-5">
          <div #container *ngFor="let item of courses">
            <div #item class="bg-white rounded-lg p-3 mr-5 mb-5">
              <div class="w-80 h-fit">
                <div
                  #header
                  class="flex items-center border-b border-gray-200 pb-3 mb-3"
                >
                  <img src="assets/images/google.png" />
                  <div class="ml-5 font-medium text-xl">
                    {{ item.name }}
                  </div>
                </div>

                <div #content>
                  <div class="flex items-center mb-3">
                    <mat-icon fontIcon="book" class="mr-2"></mat-icon>
                    <div class="inline font-medium mr-1">Subject:</div>
                    <div class="inline">{{ item.subject.subjectCode }}</div>
                  </div>

                  <div class="flex items-center mb-3">
                    <mat-icon fontIcon="access_time" class="mr-2"></mat-icon>
                    <div class="inline font-medium mr-1">Slot:</div>
                    <div class="inline">{{ item.slots }}</div>
                  </div>
                </div>

                <div #action class="text-end">
                  <button
                    class="btn p-2 btn-success font-sans text-white font-medium mr-3"
                    (click)="enrollCourse(item.id)"
                  >
                    Enroll
                  </button>

                  <button
                    class="btn p-2 btn-info font-sans text-white font-medium"
                    (click)="openDetail(item)"
                  >
                    Detail
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-loadingmodal *ngIf="loading"></app-loadingmodal>
  <app-messagebox
    (closeModal)="closeRegister()"
    [open]="openMessage3"
    [title]="messageTitle"
    [description]="messageDescription"
    [type]="fail"
  ></app-messagebox>

  <div
    id="wrong-modal"
    *ngIf="openMessage"
    tabindex="-1"
    aria-hidden="true"
    class="transform transition-transform flex bg-neutral-100/50 overflow-y-auto overflow-x-hidden fixed z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
  >
    <div class="modal-box text-center">
      <h1>Course detail</h1>
      <div class="w-full flex justify-center mt-5">
        <table class="">
          <tr>
            <th class="text-left pb-3 pr-3">Name:</th>
            <td class="text-left pb-3">{{ currentCourse.name }}</td>
          </tr>
          <tr>
            <th class="text-left pb-3 pr-3">Subject:</th>
            <td class="text-left pb-3">{{ currentCourse.subject.name }}</td>
          </tr>
          <tr>
            <th class="text-left pb-3 pr-3">Room:</th>
            <td class="text-left pb-3">{{ currentCourse.room.name }}</td>
          </tr>
          <tr>
            <th class="text-left pb-3 pr-3">Class:</th>
            <td class="text-left pb-3">{{ currentCourse.classs.name }}</td>
          </tr>
          <tr>
            <th class="text-left pb-3 pr-3">Slot:</th>
            <td class="text-left pb-3">{{ currentCourse.slots }}</td>
          </tr>
          <tr>
            <th class="text-left pb-3 pr-3">Day:</th>
            <td class="text-left pb-3">{{ currentCourse.days }}</td>
          </tr>
        </table>
      </div>
      <div class="modal-action">
        <form action="dialog">
          <button class="btn btn-warning text-white" (click)="close()">
            Close
          </button>
        </form>
      </div>
    </div>
  </div>
</app-drawer>
