<app-drawer [items]="menu">
  <div class="h-screen bg-gray-100">
    <app-header></app-header>
    <div class="bg-gray-100">
      <label for="my-drawer-2" class="btn btn-primary drawer-button hidden"
        >Open drawer</label
      >
      <div #maincontent>
        <!-- title -->
        <div class="ml-6">
          <p class="text-4xl font-medium">Subject Management</p>
        </div>

        <!-- các nút -->
        <div #button_header_right class="flex items-center justify-between mt-5">
          <div class="ml-6">
            <button
              class="shadow btn bg-orange-500 text-white font-sans font-medium hover:bg-orange-300"
            >
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="ballot"
                class="text-white text-lg"
                appearance="outline "
              ></mat-icon>
              View Curiculum
            </button>
          </div>
          <div>
            <button
              class="shadow btn bg-green-500 text-white font-sans font-medium hover:bg-green-600"
            >
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="library_add"
                class="text-white text-lg"
                appearance="outline "
              ></mat-icon>
              Add Subject
            </button>
            <button
              class="shadow ml-5 btn bg-red-500 text-white font-sans font-medium"
            >
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="edit"
                class="text-white text-lg"
                appearance="outline "
              ></mat-icon>
              Edit subject
            </button>
          </div>
        </div>

        <!-- data list -->
        <div>
          <div *ngFor="let item of list"></div>
        </div>
      </div>
    </div>
  </div>
</app-drawer>
