<app-drawer [items]="menu">
    <div class="h-screen bg-gray-100">
      <app-header></app-header>
      <div class="bg-gray-100">
        <label for="my-drawer-2" class="btn btn-primary drawer-button hidden"
          >Open drawer</label
        >
        <div #maincontent class="pb-10 pl-5 mt-5">
          
  
          <!-- title -->
          <div class="text-center">
            <p class="text-4xl font-medium">Curriculum</p>
          </div>
  
          <!-- data list -->
          <div>
            <table class="mt-6 w-full">
              <tr class="text-white bg-orange-500">
                <td class="w-1/12"></td>
                <td class="w-1/6">Stt</td>
                <td class="w-1/6 py-4 pl-2">Subject Code</td>
                <td class="w-1/4">Subject Name</td>
                <td class="w-1/6">Termino</td>
                <td>Action</td>
              </tr>
              <tr *ngFor="let item of curiculums; let i = index" class="bg-white border-b">
                <td class="w-1/12"></td>
                <td class="w-1/6">{{i + 1}}</td>
                <td class="w-1/6 py-4 pl-2">{{ item.subject.subjectCode }}</td>
                <td class="w-1/6">{{ item.subject.name }}</td>
                <td class="w-1/6">{{ item.semester }}</td>
                <td>
                  <div 
                  (click)="viewDetailSubject(item.id, item.subject.id)" 
                  class="flex bg-purple-300 w-fit text-purple-500 cursor-pointer rounded-md"
                >
                  <mat-icon
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="remove_red_eye"
                      class="text-purple-500 text-base ml-1.5"
                      appearance="outline "
                    ></mat-icon>
                  <p class="pr-3">View Detail</p>
                </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  
  </app-drawer>
  