<table class="mt-6 mx-5 w-full border border-black text-sm">
    <tr class="text-white bg-lime-400">
      <td class="px-1 py-6 border border-black"></td>
      <td class="px-1 py-6 border border-black">
        <div>MON</div>
        <div></div>
      </td>
      <td class="px-1 py-6 border border-black">
        <div>TUE</div>
        <div></div>
      </td>
      <td class="px-1 py-6 border border-black">
        <div>WED</div>
        <div></div>
      </td>
      <td class="px-1 py-6 border border-black">
        <div>THU</div>
        <div></div>
      </td>
      <td class="px-1 py-6 border border-black">
        <div>FRI</div>
        <div></div>
      </td>
      <td class="px-1 py-6 border border-black">
        <div>SAT</div>
        <div></div>
      </td>
      <td class="px-1 py-6 border border-black">
        <div>SUN</div>
        <div></div>
      </td>
    </tr>
    <tr class="bg-white">
      <td class="px-1 py-6 border border-black">
        <div>Slot 1</div>
        <div></div>
      </td>
      <td class="px-1 py-6 border border-black">
      </td>
      <td class="px-1 py-6 border border-black">
      </td>
      <td class="px-1 py-6 border border-black">
      </td>
      <td class="px-1 py-6 border border-black">
      </td>
      <td class="px-1 py-6 border border-black">
      </td>
      <td class="px-1 py-6 border border-black">
      </td>
      <td class="px-1 py-6 border border-black">
      </td>
    </tr>

    <tr class="bg-white">
        <td class="px-1 py-6 border border-black">
          <div>Slot 2</div>
          <div></div>
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
      </tr>

      <tr class="bg-white">
        <td class="px-1 py-6 border border-black">
          <div>Slot 3</div>
          <div></div>
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
      </tr>

      <tr class="bg-white">
        <td class="px-1 py-6 border border-black">
          <div>Slot 4</div>
          <div></div>
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
      </tr>

      <tr class="bg-white">
        <td class="px-1 py-6 border border-black">
          <div>Slot 5</div>
          <div></div>
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
      </tr>

      <tr class="bg-white">
        <td class="px-1 py-6 border border-black">
          <div>Slot 6</div>
          <div></div>
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
        <td class="px-1 py-6 border border-black">
        </td>
      </tr>
  </table>